<mat-card class="example-card outer-space-bottom">
  <img mat-card-image
       [src]="product.imgUrl"
       alt="...">
  <mat-card-content>
    <div class="row justify-content-between align-items-baseline">
      <!--[routerLink]="['/products/', product._id]"-->
      <div class="col-6"><h3 style="font-size: 24px;margin-top: 0;"
                             [routerLink]="['/products/', product._id]">{{product.title}}</h3></div>
      <div class="col-6">
        <div *ngIf="wishlist" class="row justify-content-end">
          <wishlist-button [product]="product"></wishlist-button>
        </div>
        <div *ngIf="showDelete" class="row justify-content-end">
          <mat-icon (click)="delFromWishlist()">delete_forever</mat-icon>
          <!--<i (click)="delFromWishlist()" class="fa fa-times fa-2" style="font-size: 2em;" aria-hidden="true"></i>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">Odmiana: {{product.category}}</div>
      <div class="col-12">Cena: <strong>{{product.price}} zł</strong></div>
    </div>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
  <mat-card-actions>
    <div class="row justify-content-center" *ngIf="(showActions && shoppingCart) || showDelete">
      <button id="add" mat-raised-button color="primary" class="add full-width"
              *ngIf="shoppingCart.getQuantity(product)===0;else updateQuantity"
              (click)="addToCart(product)">Dodaj do koszyka
      </button>
      <ng-template #updateQuantity>
        <app-product-quantity class="full-width" [product]="product"
                              [shopping-cart]="shoppingCart"></app-product-quantity>
      </ng-template>
    </div>
  </mat-card-actions>
</mat-card>
