<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <app-user-menu></app-user-menu>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: initial">
    <mat-toolbar class="outer-space-bottom">
      <mat-toolbar-row>
        <div class="full-width">
          <div class="row">
            <div class="col"><h1>Moje zestawienie</h1></div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card class="outer-space-bottom">
            <strong> Witaj!</strong>
            <p class="userInfo">Po zalogowaniu się na konto użytkownika masz możliwość wglądu do swoich danych oraz ich
              aktualizacji. Aby przejść
              do edycji
              wybierz odpowiedni link.</p>
          </mat-card>
        </div>
      </div>

      <mat-toolbar>
        <mat-toolbar-row>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h2>Ostatnie zamówienia</h2></div>
              <div class="col"></div>
              <div class="col-auto">
                <mat-chip routerLink="/my/orders" color="primary" selected="true"
                          style="padding: 10px; cursor: pointer">
                  Zobacz wszystko
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <ng-container *ngIf="orders">

        <div class="example-container mat-elevation-z8 " style="margin-top: 1rem">
          <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?._id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="datePlaced">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data złożenia</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.datePlaced}} zł</mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalOrderPrice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Kwota</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.totalOrderPrice}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element?.status}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [routerLink]="['/my/orders/', element?._id]">Szczegóły</button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </ng-container>

      <mat-toolbar class="outer-space-bottom background-transparent" style="margin-top:1rem;">
        <mat-toolbar-row>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h2>Dane użytkownika</h2></div>
              <div class="col"></div>
              <div class="col-auto">
                <mat-chip color="primary" selected="true" style="padding: 10px; cursor: pointer"
                          routerLink="/my/settings">Edytuj
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div *ngIf="user" class="orderInfo address">
        <span>{{user.name}} {{user.surname}}</span>
        <span>{{user.email}}</span>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
