<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <app-admin-navigation></app-admin-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <mat-toolbar class="outer-space-bottom background-transparent">
        <mat-toolbar-row>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h1>Kategorie</h1></div>
              <div class="col"></div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



