<div class="card">
  <div class="card_image">
    <img [src]="product.imgUrl" />
  </div>
  <div class="card_content">
    <h2 class="card_heading">{{product.title}}</h2>
    <p>Odmiana: {{product.category}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="getQuantity()===0;else updateQuantity" (click)="addToCart(product)" class="card_button">Dodaj do koszyka</button>
    <ng-template #updateQuantity>
      <div class="card-row">
        <div class="card-col">
          <button class="card_button" (click)="addToCart(product)">+</button>
        </div>
        <div class="card-col quantity">{{ getQuantity() }}</div>
        <div class="card-col">
          <button class="card_button" (click)="decrasseCart(product)">-</button>
        </div>
      </div>
    </ng-template>

  </div>


</div>
