.price {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

/* ..........test................. */

p {
  font-size: 0.875em;
  color: #777;
  margin: 0;
  margin-top: 0.5em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* button {
  display: inline-block;
  padding: 0.8em 1em 0.6em;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  width: 100%;
} */

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}

.card_image img {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
  padding: 0.5em;
}

.card_content p {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.card-row {
  background: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
}

.quantity{
  font-size: 20px;
  font-weight: bold;
}

.fa-2 {
  font-size: 2em;
  color: rgb(204, 0, 0);
  cursor: pointer;
}

.card{
  position: relative;
}

.heart{
  position: absolute;
  left: 87%;
  top: 2px;
}