*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  
  * + * {
    margin-top: 1.5em;
  }

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    /* margin-top: 3rem; */
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding: 0 1em 2em;
  }
  .no-flexbox .cards_item {
    float: left;
  }

  @media screen and (min-width: 42em) and (max-width: 60em) {
    .cards_item {
      width: 50%;
    }
    .no-flexbox .cards_item:nth-child(2n+1) {
      clear: both;
    }
  }
  @media screen and (min-width: 60em) {
    .cards_item {
      width: 33.3333%;
    }
    .no-flexbox .cards_item:nth-child(3n+1) {
      clear: both;
    }
  }