<ng-container *ngIf="!user else main">
  <h2 class="title big"> Zaloguj sie aby mieć dostęp do listy życzeń</h2>
</ng-container>

<ng-template #main>
<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true">
    <app-user-menu></app-user-menu>
  </mat-sidenav>
  <mat-sidenav-content>
      <ng-container *ngIf="wishlist && cart && wishlistLength">
        <mat-toolbar class="outer-space-bottom">
          <mat-toolbar-row>
            <div class="full-width">
              <div class="row">
                <div class="col-auto"><h1>Moja lista życzeń</h1></div>
                <div class="col"></div>
                <div class="col-auto">Ilość: {{wishlist.totalItemsCount}}</div>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <div class="container">
          <div class="row">
            <div class="col-md-3" *ngFor="let p of wishlist.items">
              <app-product-card [del]="true" [product]="p.product" [shopping-cart]="cart"
                                class="cards_item"></app-product-card>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!wishlistLength">
        <div class="row justify-content-center">
          <div class="col"><h1 style="text-align: center">TWOJA LISTA JEST PUSTA</h1></div>
        </div>
        <div class="row justify-content-center">
          <button mat-raised-button color="primary" routerLink="/">KONTYNUUJ ZAKUPY</button>
        </div>
      </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
</ng-template>
