<div class="nav">
  <div class="nav-left">
    <!-- <img src="https://img.lcpdfr.com/uploads/monthly_2017_04/Potato.thumb.png.2ad68ffee2b867f4d68777a10d5eabd3.png" alt="potato"> -->
    <a routerLink="/">  
      POTATOshop</a>
  </div>
  <div class="nav-mobile" fxHide="false" fxHide.gt-sm>
    <a id="nav-toggle" href="#!">
      <i class="fa fa-bars fa-3" aria-hidden="true"></i>
    </a>
  </div>
  <div class="nav-right" fxShow="false" fxShow.gt-sm>
    <ul class="list">
      <li>
        <a routerLink="admin/products" class="single">Admin Produkty</a>
      </li>
      <li>
        <a routerLink="admin/orders" class="single">Admin Zamówienia</a>
      </li>
      <li>
        <a routerLink="admin/users" class="single">Admin Użytkownicy</a>
      </li>
      <li class="dropdown">
        <a class="dropbtn" routerLink="/login" fxLayout="column" fxLayoutAlign="center center">
          <i class="fa fa-user fa-2" aria-hidden="true"></i>
          <ng-container *ngIf="!authService.isLoggedIn()">
            Zaloguj sie
          </ng-container>
          <ng-container *ngIf="authService.isLoggedIn()">
            Moje konto
          </ng-container>
        </a>
        <div class="dropdown-content">
          <a routerLink="/my/account">Moje zestawienie</a>
          <a routerLink="/my/orders">Moje zamówienia</a>
          <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Wyloguj sie</a>
        </div>
      </li>
      <li>
        <a routerLink="/wishlist" fxLayout="column" fxLayoutAlign="center center">
          <i class="fa fa-heart fa-2" aria-hidden="true"></i>
          Lista życzeń
        </a>
      </li>

      <li>
        <a routerLink="/shopping-cart" fxLayout="column" fxLayoutAlign="center center">
          <i class="fa fa-shopping-bag fa-2" aria-hidden="true"></i>
          Koszyk
        </a>
      </li>
      <li><ng-container *ngIf="cart && cart.totalItemsCount">{{cart.totalItemsCount}}</ng-container></li>
    </ul>
  </div>
</div>

