<div *ngIf="product && shoppingCart" class="row">

  <div class="col">
    <img [src]="product.imgUrl" alt="trololo">
  </div>
  <div class="right">
    <h1 class="title">{{product.title}}</h1>
    <div class="product-category">
      <h2>{{product.category}}</h2>
    </div>
    <div class="product-price">
      <h2 class="price">{{product.price}} zł</h2>
    </div>
    <div class="middle">
      <span>Lista życzeń </span>
      <wishlist-button  [product]="product"></wishlist-button>
    </div>
    <div class="bottom">
      <button *ngIf="shoppingCart.getQuantity(product)===0;else updateQuantity" (click)="addToCart(product)" class="card_button">Dodaj do koszyka</button>
      <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
      </ng-template>
    </div>
  </div>

</div>
