
<div class="row">

  <div class="col">
    <img [src]="product.imgUrl" alt="trololo">
  </div>
  <div class="right">
    <h1 class="title">{{product.title}}</h1>
    <div class="product-category">
      <h2>{{product.category}}</h2>
    </div>
    <div class="product-price">
      <h2 class="price">{{product.price}} zł</h2>
    </div>
    <div class="middle">
        <button>Dodaj do listy życzeń</button>
    </div>
    <div class="bottom">
            <button>Dodaj do koszyka</button>
    </div>
  </div>

</div>
