
.userData{
    border: 1px solid #f3f3f3;
    border-top: 0;
    margin-bottom: 20px;
    padding: 15px;
}

.userData span{
    display: block;
    margin: 5px;
}

.summary{
    padding: 20px;
    background: #f3f3f3;
}

.final{
    font-size: 18px;
    padding-bottom: 0 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.final span{
    font-weight: 700;
}

.title2{
    padding: 0;
    padding-bottom: 20px;
    font-size: 18px;
    border: 0;
    background: 0;
}


a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

img {
  max-width: 200px;
  height: auto;
  vertical-align: middle;
}

.mat-column-image {
  max-width: 210px;
  min-width: 210px;
}

.mat-column-name {
  max-width: 210px;
}


.mat-row {
  padding: 10px;
}
