<app-checkout-navbar></app-checkout-navbar>

<mat-toolbar class="outer-space-bottom">
  <mat-toolbar-row>
    <div class="full-width">
      <div class="row">
        <div class="col-auto"><h1>Sprawdź i złóż zamówienie</h1></div>
        <div class="col"></div>
        <div class="col-auto">
          <button mat-raised-button color="primary" (click)="placeOrder()">Złóż zamówienie</button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card>
        <mat-card-header>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h2>Zamówienie</h2></div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="cart">
            <table class="itemsTable">
              <tbody>
              <tr *ngFor="let item of cart.items">
                <td class="pName">
                  <img [src]="item.product.imgUrl" alt="trreeelo">
                  <div class="itemInfo">
                <span>
                  <strong> {{item.product.title}}</strong>
                </span>

                    <div>
                      <span>Kategoria: {{item.product.category}}</span>
                      <span>
                    Ilość: {{item.count}}
                        <!-- <app-product-quantity [product]="item.product" [shopping-cart]="cart"></app-product-quantity> -->
                  </span>

                      <span>
                    <strong>{{item.totalPrice}} zł</strong>
                  </span>
                    </div>
                  </div>
                </td>
                <td id="test">
                  <span class="delete" (click)="removeFromCart(item.product)">X</span>
                </td>
              </tr>
              </tbody>
            </table>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="outer-space-bottom">
        <mat-card-header>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h2>Adres dostawy</h2></div>
              <div class="col"></div>
              <div class="col-auto"><a routerLink="/checkout/address">Edytuj</a></div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <strong>Imie: </strong>{{shipping.firstName}}
            </div>
            <div class="col-12">
              <strong>Nazwisko: </strong>{{shipping.lastName}}
            </div>
            <div class="col-12">
              <strong>Ulica, nr domu / nr mieszkania: </strong>{{shipping.address}}
            </div>
            <div class="col-12">
              <strong>Kod pocztowy: </strong>{{shipping.code}}
            </div>
            <div class="col-12">
              <strong>Miasto: </strong>{{shipping.city}}
            </div>
            <div class="col-12">
              <strong>Państwo: </strong>{{shipping.country}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <div class="final">
          <h3 class="title2">Łączna kwota</h3>
          <span *ngIf="cart ">{{cart.totalPrice}} zł</span>
        </div>
        <button mat-raised-button color="primary" (click)="placeOrder()">Złóż zamówienie</button>
      </mat-card>
    </div>
  </div>
</div>
