<div class="login" fxLayout="column">
  <div class="header">
    <h2 fxLayoutAlign="center">WITAJ W POTATO SHOP</h2>
    <hr>
  </div>
  <div class="row" fxFlex="auto" fxLayout="column" fxLayout.lg="row" fxLayoutAlign="space-around">
    <div class="col" fxFlex="45">
      <h3>JESTEM JUŻ KLIENTEM POTATO</h3>
      <hr class="loginHr">
      <!-- <button (click)="" >Zaloguj sie</button> -->
      <div *ngIf="error" class="errorMsg">
        <span>{{error}}</span>
      </div>
      <form #l="ngForm" (ngSubmit)="login(l)">
          <div class="row">
              <div class="col-100">
                  <label for="email">Adres Email</label>
              </div>
              <div class="col-100 test">
                  <input type="text" id="email" name="e"
                  ngModel #e="ngModel" required
                  email
                  [ngClass]="{'has-danger':e.touched && e.invalid}"
                  >
                  <div class="alert-danger" *ngIf="e.touched && e.invalid">
                      <div *ngIf="e.errors.required"><span>Pole obowiązkowe</span> </div>
                      <div *ngIf="e.errors.email"><span>Email error</span> </div>
                    </div>
              </div>
            </div>

            <div class="row">
                <div class="col-100">
                    <label for="p">Hasło</label>
                </div>
                <div class="col-100 test">
                  <input type="password" id="p" name="p"
                    ngModel #p="ngModel" required
                    [rangeLength]="[3, 15]"
                    [ngClass]="{'has-danger':p.touched && p.invalid}"
                    >
                    <div class="alert-danger" *ngIf="p.touched && p.invalid">
                        <div *ngIf="p.errors.required"><span>Pole obowiązkowe</span> </div>  
                      </div>
                </div>
              </div>

        <input [disabled]="l.invalid" [ngClass]="{'disabled':l.invalid}" type="submit" value="ZALOGUJ">

      </form>

    </div>
    <div class="col" fxFlex="45">
      <h3>PO RAZ PIERWSZY W POTATO?</h3>
      <hr>
      <div *ngIf="registerError" class="errorMsg">
        <span>{{registerError}}</span>
      </div>
      <form #f="ngForm" (ngSubmit)="submit(f)">

          <div class="row">
              <div class="col-100">
                  <label for="fname">Imie*</label>
              </div>
              <div class="col-100 test">
                  <input type="text" id="fname" name="name"
                  ngModel #name="ngModel" required
                  [rangeLength]="[3, 18]"
                  [ngClass]="{'has-danger':name.touched && name.invalid}"
                  >
                  <div class="alert-danger" *ngIf="name.touched && name.invalid">
                      <div *ngIf="name.errors.required"><span>Pole obowiązkowe</span> </div>
                      <div *ngIf="name.errors.rangeLength"><span>Range error min:3 max: 15</span></div>
                    </div>
              </div>
            </div>

        <!-- <label for="fname">Imie</label>
        <input ngModel #name="ngModel" type="text" name="name"> -->
        <div class="row">
            <div class="col-100">
                <label for="lname">Nazwisko*</label>
            </div>
            <div class="col-100 test">
                <input type="text" id="lname" name="surname"
                ngModel #surname="ngModel" required
                [rangeLength]="[3, 18]"
                [ngClass]="{'has-danger':surname.touched && surname.invalid}"
                >
                <div class="alert-danger" *ngIf="surname.touched && surname.invalid">
                    <div *ngIf="surname.errors.required"><span>Pole obowiązkowe</span> </div>
                    <div *ngIf="surname.errors.rangeLength"><span>Range error min:3 max: 15</span></div>
                  </div>
            </div>
          </div>

        <!-- <label for="lname">Nazwisko</label>
        <input ngModel #surname="ngModel" type="text" name="surname"> -->
        <div class="row">
            <div class="col-100">
                <label for="em">Adres Email*</label>
            </div>
            <div class="col-100 test">
                <input type="text" id="em" name="email"
                ngModel #email="ngModel" required
                [rangeLength]="[3, 18]"
                [ngClass]="{'has-danger':email.touched && email.invalid}"
                >
                <div class="alert-danger" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors.required"><span>Pole obowiązkowe</span> </div>
                    <div *ngIf="email.errors.rangeLength"><span>Range error min:3 max: 15</span></div>
                  </div>
            </div>
          </div>

          <div class="row">
              <div class="col-100">
                  <label for="password">Hasło*</label>
              </div>
              <div class="col-100 test">
                  <input type="password" id="password" name="password"
                  ngModel #password="ngModel" required
                  [rangeLength]="[3, 18]"
                  [ngClass]="{'has-danger':password.touched && password.invalid}"
                  >
                  <div class="alert-danger" *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors.required"><span>Pole obowiązkowe</span> </div>
                      <div *ngIf="password.errors.rangeLength"><span>Range error min:3 max: 15</span></div>
                    </div>
              </div>
            </div>

        <input [disabled]="f.invalid" [ngClass]="{'disabled':f.invalid}"  type="submit" value="ZAREJESTRUJ SIE">

      </form>
    </div>
  </div>





</div>
