<mat-toolbar class="background-transparent">
  <mat-toolbar-row>
    <div class="full-width">
      <div class="row">
        <div class="col"><h1>Witaj w Potato Shop</h1></div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">


<mat-tab-group>
  <mat-tab label="Logowanie">
        <form [formGroup]="loginForm" (submit)="loginForm.dirty && loginForm.valid && onLogin()" novalidate>
          <mat-card>
            <!--<mat-card-header>-->
            <!--<div class="full-width">-->
            <!--<div class="row align-items-center">-->
            <!--<div class="col">Logowanie</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</mat-card-header>-->
            <mat-card-content>
              <div class="row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Adres Email"  formControlName="Email" required email>
                  <mat-error *ngIf="loginForm.get('Email').hasError('email') && !loginForm.get('Email').hasError('required')">
                    Wprowadź poprawny adres Email
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('Email').hasError('required')">
                    Pole jest <strong>wymagany</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12">
                  <input matInput type="password" placeholder="Hasło" formControlName="Haslo" required>
                  <mat-error *ngIf="loginForm.get('Haslo').hasError('required')">
                    Pole jest <strong>wymagane</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <mat-error *ngIf="error; let error">{{ error}}</mat-error>
            </mat-card-actions>
            <mat-card-actions>
              <button  [ngClass]="{disabled: loginForm.invalid || loginForm.pristine}" mat-raised-button class="col-auto"
                       color="primary">Zaloguj
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
  </mat-tab>
  <mat-tab label="Rejestracja">
    <form [formGroup]="registerForm" (submit)="registerForm.dirty && registerForm.valid && onRegister()" novalidate>
      <mat-card>
        <!--<mat-card-header>-->
          <!--<div class="full-width">-->
            <!--<div class="row align-items-center">-->
              <!--<div class="col">Rejestracja</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</mat-card-header>-->
        <mat-card-content>
          <div class="row">
            <mat-form-field class="col-12">
              <input matInput placeholder="Imię"  formControlName="name" required>
              <mat-error *ngIf="registerForm.get('name').hasError('required')">
                Pole jest <strong>wymagane</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput placeholder="Nazwisko"  formControlName="surname" required>
              <mat-error *ngIf="registerForm.get('surname').hasError('required')">
                Pole jest <strong>wymagane</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput placeholder="Email" formControlName="email" required email>
              <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
                Wprowadź poprawny adres Email
              </mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('required')">
                Pole jest <strong>wymagane</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput type="password" placeholder="Hasło" formControlName="password" required>
              <mat-error *ngIf="registerForm.get('password').hasError('required')">
                Pole jest <strong>wymagane</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-error *ngIf="registerError; let error">{{ error}}</mat-error>
        </mat-card-actions>
        <mat-card-actions>
          <button  [ngClass]="{disabled: registerForm.invalid || registerForm.pristine}" mat-raised-button class="col-auto"
                   color="primary">Zarejestruj
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>
</div>
