@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login{
  padding-bottom: 3rem;
    width: 83%;
    max-width: 83%;
    margin: 0 auto;
}


/* .header{
    width: 100%;
} */


.loginHr{
  height: 1px;
  background-color: rgb(136, 136, 136);
}






