@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login{
  padding-bottom: 3rem;
    width: 83%;
    max-width: 83%;
    margin: 0 auto;
}


/* .header{
    width: 100%;
} */


input[type=text],input[type=password],input[type=email], select, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;

  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 95% Arial, Helvetica, sans-serif;

  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: orangered;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
  
}




.loginHr{
  height: 1px;
  background-color: rgb(136, 136, 136);
}






