
img {
  max-width: 200px;
  height: auto;
  vertical-align: middle;
}

.mat-column-image {
  max-width: 210px;
  min-width: 210px;
}

.mat-column-name {
  max-width: 210px;
}

.mat-column-count {
  max-width: 300px;
  min-width: 260px;
}

.mat-row {
  padding: 10px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/*.background-transparent {*/
/*background-color: transparent;*/
/*}*/
