<mat-list role="list">
  <mat-list-item class="filter" role="listitem">
    <label
      routerLink="/"
      class="customCheckbox">
      <input type="checkbox"> Wszystkie
      <div
        [class.active]="!category"
        class="square"></div>
    </label>
  </mat-list-item>
  <mat-list-item *ngFor="let c of categoryList$ | async" class="filter" role="listitem">
    <label
      routerLink="/"
      [queryParams]="{category:c.name}"
      class="customCheckbox">
      <input type="checkbox"> {{c.name}}
      <div
        [class.active]="category===c.name"
        class="square"></div>
    </label>
  </mat-list-item>
</mat-list>

