<div class="toolbar-container">
  <mat-toolbar color="primary" style="height:56px;">
    <div class="full-width">
      <div class="row align-items-center">
        <div class="col-auto">
          <div routerLink="/" title="Potato Shop"
                     class="logo">POTATO
          <sup>Shop</sup>
        </div>
        </div>
        <div class="col"></div>
        <div class="col-auto">
          <ng-container *ngIf="authService.isLoggedIn() && userRole=='admin'">
            <button mat-raised-button routerLink="admin/products">Admin</button>
          </ng-container>
          <ng-container *ngIf="!authService.isLoggedIn()">
            <button id="testSelenium" mat-button routerLink="/login">
              <mat-icon>account_box</mat-icon>
              Zaloguj się
            </button>
          </ng-container>
          <ng-container *ngIf="authService.isLoggedIn()">
            <button mat-button [matMenuTriggerFor]="menu" id="myMenu">
              <mat-icon>account_box</mat-icon>
              Moje konto
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/my/account">Moje zestawienie</button>
              <button mat-menu-item routerLink="/my/orders">Moje zamówienia</button>
              <button mat-menu-item *ngIf="authService.isLoggedIn()" (click)="logout()" name="logout" id="logout">Wyloguj się</button>
            </mat-menu>
          </ng-container>
          <button mat-button routerLink="/wishlist">
            <mat-icon>favorite</mat-icon>
            Lista życzeń
            <sup *ngIf="wishlist && wishlist.totalItemsCount && authService.isLoggedIn()">
              <mat-chip>{{wishlist.totalItemsCount}}</mat-chip>
            </sup>
          </button>
          <button mat-button routerLink="/shopping-cart">
            <mat-icon>shopping_cart</mat-icon>
            Koszyk
            <sup *ngIf="cart && cart.totalItemsCount">
              <mat-chip>{{cart.totalItemsCount}}</mat-chip>
            </sup>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
