<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <app-admin-navigation></app-admin-navigation>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: initial">
    <div class="container">
      <mat-toolbar class="outer-space-bottom background-transparent">
        <mat-toolbar-row>
          <div class="full-width">
            <div class="row">
              <div class="col-auto"><h1>Lista produktów</h1></div>
              <div class="col"></div>
              <div class="col-auto">
                <button id="add" mat-raised-button color="primary" (click)="onAddProductDialog()">Nowy produkt</button>
                <!--routerLink="/admin/products/new"-->
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="example-container mat-elevation-z8 mb-5">
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.title}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cena</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.price}} zł</mat-cell>
          </ng-container>
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.category}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="edit fix-icon" (click)="onEditProductDialog(element?._id)">mode edit</mat-icon>
              <mat-icon class="delete" (click)="onRemoveProductDialog(element?._id)">delete</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




