.userData {
  border: 1px solid #f3f3f3;
  border-top: 0;
  margin-bottom: 20px;
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .item {
  width: 48%;
}

.row{
  flex-direction: column;
  align-items: center;
}

label{
  padding: 0;
}

@media all and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .item {
    width: 100%;
  }
}

.test{
  min-height: 60px;
}

input[type="password"], input[type="text"]{
  margin:0;
}


.has-danger{
  border: 1px solid rgba(216, 33, 33, 0.842);
}

.disabled{
  background: silver;
  cursor: default;
}

.disabled:hover{
  background: silver;
}