<div class="products" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around">

  <div fxFlex="20">
    <h3>Kategorie</h3>
    <hr>
    <app-product-filter [category]="category"></app-product-filter>
    <h3>Przedział cenowy</h3>
    <hr>
    <p>future</p>
    <h3>Pochodzenie</h3>
    <hr>
    <p>future</p>
  </div>

  <div fxFlex="75">
    <h2>Lista dostepnych produktów</h2>
    <!-- <span>Sortowanie:</span> -->
    <hr class="style1">

    <!--  t testse ets -->
    <ul class="cards">
      <ng-container *ngFor="let p of filteredProducts">
        <app-product-card [product]="p" [shopping-cart]="cart" class="cards_item"></app-product-card>
      </ng-container>
    </ul>


  </div>

</div>
