
<div class="products" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="space-around">

  <div fxFlex="20">
    <h2 class="title">Kategorie</h2>
    <app-product-filter [category]="category"></app-product-filter>
    <h2 class="title">Przedział cenowy</h2>
    <p>future</p>
    <h2 class="title">Pochodzenie</h2>
    <p>future</p>
  </div>

  <div fxFlex="75">
    <mat-toolbar class="outer-space-bottom">
      <mat-toolbar-row>
        <div class="full-width">
          <div class="row">
            <div class="col-auto"><h1>Lista dostepnych produktów</h1></div>
            <div class="col"></div>
            <div class="col-auto"><span *ngIf="productsCount" class="small">Ilość produktów: {{productsCount}}</span></div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

      <ng-container *ngFor="let p of filteredProducts">
        <app-product-card [del]="false" [wishlist]="wishlist" [product]="p" [shopping-cart]="cart"
                          class="cards_item"></app-product-card>
      </ng-container>

  </div>
</div>
