<div class="products" fxLayout="column" fxLayout.lg="row" fxLayoutAlign="space-around" >

    <div fxFlex="25">
        <h3>CATEGORY</h3><hr>
        <div class="categories">
          <ul>
            <li class="active">Młode</li>
            <li>Wczesne</li>
            <li>Młode</li>
            <li>Stare</li>
            <li>Młode</li>
          </ul>
        </div>
      </div>
    
    <div fxFlex="75">
        <h2>Product List</h2>
        <hr class="style1">
        <div class="productList" fxLayout="row" fxLayoutAlign="start"  fxLayoutWrap>
          <div class="box box1">1</div>
          <div class="box box2">2</div>
          <div class="box box3">3</div>
          <div class="box box4">4</div>
          <div class="box box5">5</div>
          <div class="box box6">6</div>
          <div class="box box7">7</div>
          <div class="box box8">8</div>
          <div class="box box9">9</div>
          <div class="box box10">10</div>
        </div>
      </div>
    
</div>

