<!-- <h2 class="title big">Zamówienie nr: (5a7d73ef9bbf8e1490370a1d) zostało złożone</h2> -->
<h2 class="title big">Twoje zamówienie zostało odebrane</h2>
<div class="content">

  <i class="fa fa-check-circle-o"></i>
  <h2 class="title big">Dziekujemy za zakupy</h2>
  <h3>Numer Twojego zamówienia: 5a7d73ef9bbf8e1490370a1d</h3>
  <span>Status Twojego zamówienia możesz śledzieć w
    <a routerLink="/my/orders">
      <strong>panelu użytkownika</strong>
    </a>
  </span>

  <button mat-raised-button color="primary" routerLink="/">Powrót do sklepu</button>
</div>
