@import '~@angular/material/theming';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/dark.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

$primary: mat-palette($mat-orange,400);
$accent: mat-palette($mat-orange,200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

