<div class="products" fxLayout="column" fxLayout.lg="row" fxLayoutAlign="space-around">

  <div fxFlex="20">
    <h3>Kategorie</h3>
    <hr>
    <div class="categories">
      <ul>
          <li 
          routerLink="/"
          [class.active]="!category">Wszystkie</li>
        <li
        *ngFor="let c of categoryList$ | async"
        routerLink="/"
        [queryParams]="{category:c.name}" 
        [class.active]="category===c.name">{{c.name}}</li>
        <!-- <li>Wczesne</li>
        <li>Młode</li>
        <li>Stare</li>
        <li>Młode</li> -->
      </ul>
    </div>
  </div>

  <div fxFlex="75">
    <h2>Lista dostepnych produktów</h2>
    <!-- <span>Sortowanie:</span> -->
    <hr class="style1">
    <div class="cards">
      <div class="card-container" *ngFor="let p of filteredProducts">
        <img [src]="p.imgUrl">
        <div class="content-wrapper">
          <h4>{{p.title}}</h4>
          <p>Odmiana: {{p.category}}</p>
        </div>
        <div class="content-footer">
          <span class="price">{{p.price}} Zł</span>
          <button class="button-price">Dodaj do koszyka</button>
        </div>
      </div>


      <!-- <div class="card-container">2</div>
          <div class="card-container">3</div>
          <div class="card-container">4</div>
          <div class="card-container">5</div>
          <div class="card-container">6</div>
          <div class="card-container">7</div>
          <div class="card-container">8</div>
          <div class="card-container">9</div>
          <div class="card-container">10</div> -->
    </div>
  </div>

</div>
