<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <app-user-menu></app-user-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="outer-space-bottom">
      <mat-toolbar-row>
        <div class="full-width">
          <div class="row">
            <div class="col"><h1>Moje zestawienie</h1></div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card class="outer-space-bottom">
            <strong> Witaj!</strong>
            <p class="userInfo">Po zalogowaniu się na konto użytkownika masz możliwość wglądu do swoich danych oraz ich aktualizacji. Aby przejść
            do edycji
            wybierz odpowiedni link.</p>
          </mat-card>
        </div>
      </div>
    </div>





    <mat-toolbar>
      <mat-toolbar-row>
        <div class="full-width">
          <div class="row">
            <div class="col-auto"><h2>Ostatnie zamówienia</h2></div>
            <div class="col"></div>
            <div class="col-auto">
              <mat-chip  routerLink="/my/orders" color="primary" selected="true" style="padding: 10px; cursor: pointer">Zobacz wszystko</mat-chip>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-container *ngIf="orders">
      <ngx-datatable class="bootstrap tab" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="0"
                     [rowHeight]="'auto'"
                     [rows]="rows">
        <ngx-datatable-column name="Zamówienie" prop="nr" [width]="200"></ngx-datatable-column>
        <ngx-datatable-column name="Data zamówienia" prop="date" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Suma" prop="sum" [width]="50"></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
        <ngx-datatable-column name="" prop="action">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/my/orders/', value]">Szczegóły</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </ng-container>

    <mat-toolbar>
      <mat-toolbar-row>
        <div class="full-width">
          <div class="row">
            <div class="col-auto"><h2>Dane użytkownika</h2></div>
            <div class="col"></div>
            <div class="col-auto">
              <mat-chip color="primary" selected="true" style="padding: 10px; cursor: pointer" routerLink="/my/settings">Edytuj</mat-chip>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="user" class="orderInfo address">
      <span>{{user.name}} {{user.surname}}</span>
      <span>{{user.email}}</span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
