

.itemsTable{
    width: 100%;
    border: 1px solid #f3f3f3;
    border-top: 0;
    margin-bottom: 20px;
}

.itemsTable tr{
    display: flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid #eaeaea;
    padding: 5px 10px;
}

.itemInfo{
    padding: 10px;
}

.itemInfo a{
 font-weight: 600;
}

.itemInfo span{
    display: block;
}



img{
    width:100%;
    max-width:150px;
}

.pName{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

#orderReview{
    display: flex;
    justify-content: flex-end;
    background: #f3f3f3;
    padding: 10px;
}
