<div class="container">
  <div class="col-3">
    <app-user-menu></app-user-menu>
  </div>
  <div class="col-8">
    <ng-container *ngIf="order">
      <h1 class="title">Zamówienie nr {{order._id}} </h1>

      <div class="orderInfo">
        <span>
          <strong>Data zamówienia: </strong>{{order.datePlaced}}</span>
        <span>
          <strong>Numer klienta: </strong>{{order._creator}}</span>
        <span>
          <strong>Status zamówienia: </strong>"Przygotowanie"</span>

      </div>


      <h2 class="title">Zamówione produkty</h2>
      <table class="itemsTable">
        <tbody>
          <tr *ngFor="let item of order.items">
            <td class="pName">
              <img [src]="item.product.imgUrl" alt="trreeelo">
              <div class="itemInfo">
                <a [routerLink]="['/products/', item.product._id]">{{item.product.title}}</a>
                <div>
                <span>Kategoria: {{item.product.category}}</span> 
                <span>Cena: {{item.product.price}} zł</span>          
                </div>
              </div>
            </td>
            <td>
              <strong>Ilość: {{item.count}}</strong>
            </td>
            <td>
              <strong>{{item.totalPrice}} zł</strong>
            </td>
          </tr>
          <tr id="orderReview">
            <td colspan="3">
                <span><strong>Łączna kwota: </strong> 1123123 zł</span>
            </td>
          </tr>
        </tbody>
      </table>
     
      <h2 class="title">Adres dostawy</h2>
      <div class="orderInfo address">
        <span>{{order.shipping.firstName}} {{order.shipping.lastName}}</span>
        <span>{{order.shipping.address}}</span>
        <span>{{order.shipping.code}} {{order.shipping.city}}</span>

      </div>

      <button routerLink="/my/orders">Wróć do moich zamówień</button>
    </ng-container>
  </div>

</div>
