.isActive {
  font-weight: 700;
}

.mat-chip{
  padding: 2px 7px 2px 7px;
  border-radius: 14px;
  background-color: #7d7d7d;
  font-weight: bold;
}

.isActive .mat-chip{
  padding: 2px 7px 2px 7px;
  border-radius: 14px;
  background-color: #ffa726;
  font-weight: bold;
}

